@tailwind preflight;
@tailwind components;

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@tailwind utilities;
@tailwind screens;
